@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.Home {
  text-align: center;
  font-family: cursive;
}

.Home-header {
  background: url("./images/puppy_home.jpg");
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
